<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.github.reactnativecommunity.location">
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>

  <!--
  <application>
    <service
            android:name="com.github.reactnativecommunity.location.LocationService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location">

      <intent-filter>
      </intent-filter>
    </service>
  </application>
  -->
</manifest>
